/*GENERAL*/
@font-face {
    font-family: pixel;
    src: url('../fonts/FreePixel.ttf');
}

* {
    margin: 0;
    padding: 0;
    background-size: 100%;
    /*border: 1px solid black;*/
    font-family: pixel;
}

body, main, article, a {
    display: flex;
    flex-direction: column;
}


body {
    min-height: 100vh;
    background: url("../photo/style/wallhaven.png") center;
    justify-content: space-between;
}

#mainsubCatPlayS {
    background: url("../photo/style/japan.jpg") center;
    padding-top: 20px;
}

main {
    width: 100%;
    min-height: 80vh;
    flex-grow: 2;
    justify-content: space-around;
    overflow: hidden;
}

#mainsubCat {

}

article {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: row;
    height: 100%;
}


.catDiv {
    height: 100%;
    width: 50%;
    z-index: 0;
    position: relative;
}

.catDiv {
    animation: shake 2s infinite alternate both;
}

#catDiv1 {
    background: url("../photo/style/island1.png") no-repeat center;
    background-size: contain;
}

#catDiv2 {
    background: url("../photo/style/island3.png") no-repeat center;
    background-size: contain;
}

#catDiv3 {
    background: url("../photo/style/island2.png") no-repeat center;
    background-size: contain;
}


@keyframes shake {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20px);
    }
}

.catDiv4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    animation: none;
}

.text-box {
    border: 3px solid black;
    box-shadow: 0 0 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: none;
    text-align: justify;
    text-align: center;
    width: 80%;
    height: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
.text-box2 {
    width: 50%;
}

.text-box p {
    width: 80%;
    opacity: 1;
    text-align: justify;
    text-shadow: 1px 1px #555555, -1px 1px #555555, 1px -1px #555555, -1px -1px #555555, 1px 1px 5px #555555;
    font-size: 1.2em;
    color: white;
}


.text-box p:nth-child(1), .text-box p:nth-child(2) {
    animation: appear 5s 1 backwards;
}

.text-box p:nth-child(3) {
    animation: appear 3s 2s 1 backwards;
}

.text-box  p:nth-child(4) {
    animation: appear 3s 3s 1 backwards;
}

.text-box p:nth-child(5) {
    animation: appear 3s 4s 1 backwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.catLink {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0;
    transition: 0.5s;
}

.catLink:hover {
    opacity: 1;
}

.catLink p {
    color: white;
    margin-bottom: 20px;
    font-size: 2em;
    font-style: italic;

}

@media screen and (max-width: 640px) {
    article {
        flex-direction: column;
    }

    .text-box p {
        font-size: 0.8em;
    }

    .text-box {
        width: 100%;
        height: auto;
    }

    .catLink p {
        font-size: 1em;
    }
}

.gouttes {
    display: flex;
    transition: 0.5s;
}

.gouttes a {
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px;
    padding: 15px;
    height: 15px;
    width: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.5s;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
}

.gouttes span {
    opacity: 0;
    color: white;
    transition: 0.5s linear 0.5s;
}

.gouttes:hover span {
    opacity: 1;
    color: dimgrey;
}

.gouttes a:hover {
    filter: drop-shadow(0 0 0.75rem white);
    width: 200px;
}


#mainsubCatPlayS p {
    color: white;
}

#legend {
    font-weight: bold;
    border: 2px solid white;
    padding: 10px;
    background-color: rgba(0,0,0, 0.2);
}

#gouttesArticle:nth-child(1) {
align-items: center;
}
#gouttesArticle article:nth-child(2) {
align-items: start;
}

#gouttesArticle article:nth-child(3) {
    align-items: end;
}
