* {
/*border: 1px solid black;*/
}


.bodyFicheProd, .bodySearch {

    background: url("../photo/style/ficheproduitback.png") center;
    color: white;
}

.bodyFicheProd form {
    background: none;
    display: flex;
    align-items: flex-end;
}


.addBasket {
    background: url("../photo/style/chest.png") no-repeat center;
    background-size: contain;
    border: none;
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.bodyFicheProd form {
    color: white;
}

.bodyFicheProd form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodyFicheProd form div {
    color: white;
    padding-bottom: 5px;
}

.bodyFicheProd form div {
    opacity: 0.8;
    transition: 0.5s;
    padding-bottom: 5px;
}

.bodyFicheProd form div:hover {
    opacity: 1;
}


.bodyFicheProd select {
    background: none;
    appearance: none;
    color: white;
    padding: 5px;
    border: 1px solid rgba(255,255,255,1);
    font-size: 1.3em;
}


.bodyFicheProd section:nth-child(1) {
    display: flex;
    height: 65vh;
}

.bodyFicheProd article {
display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

.imgcontainer {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 5px white;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.productInfo div {
   flex-grow: 1;
    width: 100%;
    display: flex;
}
.titleInfo {
    align-items: flex-end;
    justify-content: center;
    height: 50%;
    flex-grow: 1;
    text-align: justify;
    flex-direction: column;
}

.titleInfo p {
    height: 50%;
    overflow: auto;
}

.divStock {
display: flex;
    align-items: center;

}
.divPrice {

    align-items: center;
    justify-content: flex-end;
}

.price {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}
.price img,.addBasket {
  filter: invert(100%);
}


.bodyFicheProd section:nth-child(2) {

    border: 3px solid black;
    box-shadow: 0 0 5px white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 20%;
    color: white;
    text-align: center;
    font-size: 1.2em;
}


.bodyFicheProd section:nth-child(2) a:hover {
    text-shadow: 0 0 10px white;
}



.bodyFicheProd section:nth-child(2) a {
    color: white;
    text-decoration: none;
    transition: 0.4s;
    font-size: 1.2em;
}

/*SEARCH*/

.bodySearch {
    text-align: center;

}
.bodySearch input,.bodySearch form  {
    background: transparent;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 1.5em;
}

.bodySearch input {
    border-bottom: 2px solid rgba(255,255,255,0.5);
    transition: 0.5s;
}

.bodySearch input:focus {

    border-bottom: 2px solid white;
}

.bodySearch section:nth-child(2) {
   width: 50%;
    align-self: center;
}

.bodySearch ul {
    text-align: justify;
}

.barre {
    text-align: center;
}

.listResult a {
    color: white;
    transition: 0.5s;
    border-top: 1px solid rgba(0,0,0,0.5);
}

.listResult a:hover {
    border-top: 1px solid white;
}

.listResult a:visited {
    color: yellow;
}


/*NEW PRODUCTS*/

.bodyNew {
    background: url("../photo/style/ficheproduitback.png") center no-repeat;
    background-attachment: fixed;
    color: white;
}


.bodyNew main section {
    flex-direction: row;
    display: flex;
    padding: 10px;

}

.bodyNew main article:nth-child(1) {
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 5px;
}

.bodyNew main article:nth-child(2) {
    background: url("../photo/style/witchback.png") right no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 65vh;
    padding: 10px;
    min-height: 80vh;
}


/*RESPONSIVE*/
@media screen and (max-width: 640px) {
.bodyFicheProd section {
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}
    .bodyFicheProd section article {
        margin: 0 auto;
        width: 80%;
    }

    .bodyNew main section {
        flex-direction: column;
    }

    .bodyNew main section article {
        padding: 0;

    }

}

