/*FOOTER*/

footer{
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 25px;
    opacity: 0.3;
    transition: 0.5s;
}

.footerinfos{
    display: flex;
    flex-direction: row;
}

.social{
    display: flex;
    flex-direction: column;
    text-align: center;
}



.imgsocial{
    display: flex;
    flex-direction: row;
}


footer:hover {
    opacity: 1;
}