/*FOOTER*/

footer{
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 25px;
}

.footerinfos{
    display: flex;
    flex-direction: row;
}

.social{
    display: flex;
    flex-direction: column;
    text-align: center;
}



.imgsocial{
    display: flex;
    flex-direction: row;
}

