/*FOOTER*/

footer {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 25px;
    opacity: 0.3;
    transition: 0.5s;
    padding: 5px;
}

.footerinfos {
    display: flex;
    flex-direction: row;
}

.social {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.imgsocial {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

footer img {
    opacity: 0.5;
    filter: invert(100%);
    transition: 0.5s;
}

.imgsocial a:hover img {
    opacity: 1;
}

footer:hover {
    opacity: 1;
}

footer a {
    color: white;
    display: inline;
}

footer .newsletter {
    text-align: center;
}

footer span {
    opacity: 0;
    transition: 0.5s;
}

footer a:hover span {
    opacity: 1;
}


@media screen and (max-width: 640px) {


    footer a {
        display: block;
    }

}