/*GENERAL*/
@font-face {
    font-family: pixel;
    src: url('../fonts/FreePixel.ttf');
}

* {
    margin: 0;
    padding: 0;
    background: url("../photo/style/wallhaven.png") fixed;
    background-size: cover;
    font-family: pixel;
}

body, main, article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    min-height: 100vh;
    overflow: hidden;
}

main {
    flex: 1 0 auto;
    height: 100%;
    justify-content: space-around;
}

article {
    width: 100%;
    height: 50vh;
    position: relative;
}

article:nth-child(1) {
    justify-content: flex-end;
}

article:nth-child(2) {
    justify-content: space-around;
}

/*TITLE*/
h1 {
    font-size: 15vw;
    position: relative;
    text-shadow: 1px 1px #fff, -1px 1px #fff, 1px -1px #fff, -1px -1px #fff, 1px 1px 5px #555;
    animation: title 0.6s ease-in 1;
    z-index: 1;
    background: none;
}

@keyframes title {
    from {
        opacity: 0;
        top: -200px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

/*PRESS START*/
a {
    text-decoration: none;
    position: relative;
    color: black;
    text-shadow: 0px 0px 5px dimgrey;
    animation: button 0.7s ease-in 1s 1 forwards, blink ease-in-out 1.5s 3.5s infinite alternate;
    opacity: 0;
}

@keyframes button {
    from {
        opacity: 0;
        font-size: 2vw;
    }
    to {
        opacity: 1;
        font-size: 5vw;
    }
}

@keyframes blink {
    from {
        opacity: 1;
        text-shadow: 0px 0px 5px dimgrey;
    }
    to {
        opacity: 0.1;
        text-shadow: 0px 0px 2px dimgrey;
    }
}

/*CREDIT*/
p {
    position: relative;
    font-size: 1.5em;
    animation: credit 0.5s 2s 1 backwards;
}

@keyframes credit {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*CLOUDS*/
div {
    min-height: 100px;
    width: 30%;
    z-index: 0;
    position: absolute;
    animation: clouds 1.5s ease-in-out infinite alternate both;
}


#div1 {
    background: url("../photo/style/cloud1.png") no-repeat center;
    background-size: contain;
    top: 50px;
    left: 0;
}

#div2 {
    background: url("../photo/style/cloud5.png") no-repeat center;
    background-size: contain;
    top: 5px;
    right: 0;
}

#div3 {
    background: url("../photo/style/cloud6.png") no-repeat center;
    background-size: contain;
    right: 150px;
    bottom: 10px;
}

#div4 {
    background: url("../photo/style/cloud4.png") no-repeat center;
    background-size: contain;
    left: -50px;
    top: 100px;
}

#div5 {
    background: url("../photo/style/cloud2.png") no-repeat center;
    background-size: contain;
    right: -50px;
    top: 50px;
}


@keyframes clouds {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20px);
    }
}



