/*GENERAL*/
@font-face {
    font-family: pixel;
    src: url('../fonts/FreePixel.ttf');
}

* {
    margin: 0;
    padding: 0;
    background-size: 100%;
    /*border: 1px solid black;*/
    font-family: pixel;
    /*color: black;*/
}

body, main, article, a {
    display: flex;
    flex-direction: column;
}


main {
    width: 100%;
    min-height: 80vh;
    flex-grow: 2;
    justify-content: space-between;
    overflow: hidden;
}


article {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: row;
    height: 100%;
}


body {
    min-height: 100vh;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/*ONCANCEL*/
.bodyoncancel {
    background-image: url("../photo/style/store1.jpg");
    min-height: 100%;

}

.fail, .success {
    display: flex;
    flex-direction: row;
}

.linkfail, .linksuccess {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.3);
    width: 50%;
    padding: 2em;
    border-radius: 20px;
    color: white;
    font-size: 1.2em;
    text-align: justify;
    margin-top: 20px;
}

/*SUCCESS*/


.bodysuccess {
    background-image: url("../photo/style/store2.jpg");
    min-height: 100%;
}


/*BOTH*/


.shopKeeperPb, .shopKeeperOk {
    background: url("../photo/style/witch.png") ;
    background-color: red;
    background-size: contain;
    display: flex;
    justify-content: left;
    align-items: start;
    padding: 20%;
    width: 50%;

}


.bubblePb, .bubbleOk {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40%;
    padding: 2em;
    border-radius: 20px 20px 0px 20px;
    color: white;
    text-align: center;

}


.fail p, .success p {
    font-size: 1.2em;
    text-align: center;
}

.fail a, .success a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    text-align: center;
}

.fail a:hover, .success a:hover {
    text-shadow: 2px 2px 2px red;
}


/*PANIER*/

.bodyCart, .bodyPay {
    background: url("../photo/style/ficheproduitback.png") center;
    color: white;
}

.bodyCart section {
    /*overflow: auto;*/
}


.bodyCart table {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.3);
    border: 3px solid black;
    color: white;
    width: 100%;
    height: 64vh;
    display: flex;
    flex-direction: column;
    overflow: auto;

}

.bodyCart th {
    padding: 5px;
}


.bodyCart tr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.bodyCart td {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 20px;
    position: relative;
    border: 1px solid black;
    transition: 0.5s;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.hovertd:hover {
    box-shadow: 0 0 10px white;
}

.bodyCart form {
    background: none;
}

.bodyCart table input {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: 0.5s;
    border-radius: 10px;
    padding: 5px;
}

.bodyCart input:hover {
    border: 1px solid white;
}

.bodyCart td p {
    position: absolute;
    text-shadow: 1px 1px 2px black;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: gold;
    font-style: italic;
}

.container {
    width: 100px;
    height: 120px;

    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
}

.container img {
    /*min-width: fit-content;*/
    /*min-height: fit-content;*/
}

.diamond {
    filter: invert(100%);
}


.bodyCart section:nth-child(2), .bodyPay section:nth-child(2) {

    border: 3px solid black;
    box-shadow: 0 0 5px white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 20%;
    color: white;
    text-align: center;
    font-size: 1.2em;
}


.bodyCart section:nth-child(2) input, .bodyCart section:nth-child(2) a {
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    transition: 0.4s;
    font-size: 1.2em;
    cursor: pointer;
}

.bodyCart section:nth-child(2) input:hover, .bodyCart section:nth-child(2) a:hover {
    text-shadow: 0 0 10px white;
}

#mainPay section {
    height: 30%;
}

#paypal-payment-button {
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}


@media screen and (max-width: 900px) {


    .bodyCart tr {
        flex-direction: column;
    }

}