/*ONCANCEL*/

.fail p, .success p{
font-size: 2em;
    text-align: center;
}

.fail a, .success a{
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    text-align: center;
}

.fail, .success{
    display: flex;
    flex-direction: column;
}

/*SUCCESS*/