/*ONCANCEL*/
.bodyoncancel{
    background-image: url("../photo/style/store1.jpg");
    min-height: 100%;
}

.fail, .success{
    display: flex;
    flex-direction: column;
}

.linkfail, .linksuccess{
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.3);
    width: 50%;
    padding: 2em;
    border-radius: 20px;
    color: white;
    font-size: 1.2em;
    text-align: justify;
    margin-top: 20px;
}

/*SUCCESS*/


.bodysuccess{
    background-image: url("../photo/style/store2.jpg");
    min-height: 100%;}


/*BOTH*/


.shopKeeperPb, .shopKeeperOk {
    background: url("../photo/style/witchback2.png") bottom right no-repeat;
    background-size: contain;
    display: flex;
    justify-content: left;
    align-items: start;
    padding: 2em;

}


.bubblePb,.bubbleOk  {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    padding: 2em;
    border-radius: 20px 20px 0px 20px;
    color: white;
    font-size: 1.2em;
    text-align: justify;
}


.fail p, .success p{
    font-size: 2em;
    text-align: center;
}

.fail a, .success a{
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    text-align: center;
}

.fail a:hover, .success a:hover
{
    text-shadow: 0 0 10px red;
}