
/*GENERAL*/
@font-face {
    font-family: pixel;
    src: url('../fonts/FreePixel.ttf');
}

* {
    margin: 0;
    padding: 0;
    background-size: 100%;
    /*border: 1px solid black;*/
    font-family: pixel;
}

body, main, article, a {
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
    background: url("../photo/style/wallhaven.png") center;
    justify-content: space-between;
}

main {
    width: 100%;
    height: 80vh;
    justify-content: space-around;
    overflow: hidden;
}

article {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: row;
    height: 100%;
}


.catDiv {
    height: 100%;
    width: 50%;
    z-index: 0;
    position: relative;
}

.catDiv {
    animation: shake 2s infinite alternate both;
}

#catDiv1 {
    background: url("../photo/style/island1.png") no-repeat center;
    background-size: contain;
}

#catDiv2 {
    background: url("../photo/style/island3.png") no-repeat center;
    background-size: contain;
}

#catDiv3 {
    background: url("../photo/style/island2.png") no-repeat center;
    background-size: contain;
}


@keyframes shake {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20px);
    }
}

#catDiv4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    animation: none;
}

#catDiv4 div {
    border: 3px solid black;
    box-shadow: 0 0 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: none;
    text-align: justify;
    text-align: center;
    width: 80%;
    height: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

#catDiv4 p {
    width: 80%;
    opacity: 1;
    text-align: justify;
    text-shadow: 1px 1px #555555, -1px 1px #555555, 1px -1px #555555, -1px -1px #555555, 1px 1px 5px #555555;
    font-size: 1.2em;
    color: white;
}


#catDiv4 p:nth-child(1) {
    animation: appear 5s 1 backwards;
}

#catDiv4 p:nth-child(2) {
    animation: appear 3s 2s 1 backwards;
}

#catDiv4 p:nth-child(3) {
    animation: appear 3s 3s 1 backwards;
}

#catDiv4 p:nth-child(4) {
    animation: appear 3s 4s 1 backwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.catLink {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0;
    transition: 0.5s;
}

.catLink:hover {
    opacity: 1;
}

.catLink p {
    color: white;
    margin-bottom: 20px;
    font-size: 2em;
    font-style: italic;

}

@media screen and (max-width: 640px) {
    article {
        flex-direction: column;
    }

    #catDiv4 p {
        font-size: 0.8em;
    }

    #catDiv4 div {
        width: 100%;
        height: auto;
    }

    .catLink p {
        font-size: 1em;
    }
}


h1{
    margin-top: 20px;
    text-align: center;
    font-size: 2.4em;
}

h2{
    text-align: center;
    font-size: 2em;
}




/*BUTTON*/

button{
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    margin-bottom: 5px;
    padding: 5px;
    text-decoration: none;

}


/*FORM*/
form{
    max-width:800px /*-- à modifier en fonction de la largeur désirée --*/;
    margin:0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 30px;
    border-radius: 20px;
}

 #avatar{
    margin: 0 auto;
    clip-path:circle(40%);

}

 legend{
     font-size: 2em;
 }

/*TABLEAUX */

table{

    border-collapse: collapse;
    padding: 5px;
    margin-top: 20px;

}



td{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
}

@media screen and (max-width: 640px) {
    table,
    tbody,
    tr,
    td {
        display: block;
        width: auto;
        border: none;
        padding: 0;

    }
    th{
        display: none;
    }

    tr{
        padding: 10px;
    }

}


a{
    text-decoration: none;
}


/*A PROPOS */

.apropos{
    display: flex;
    flex-direction: column;
}



/*PROFIL USER*/
.userinfos, .order{
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 4px 5px 5px  black;
    text-align: center;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.5) ;
    color: white;
     font-size: 1.2em;
    margin-top: 20px;
    border-image: url("@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);");
  }                    
                       

  .order{
         box-shadow: -4px 5px 5px  black;
  }


.profil{
    display: flex;
    flex-direction: column;
    background-image: url("../photo/style/mountain4.jpg");
    min-height: 100%;

}


.profiluser{
    display: flex;
    flex-direction: row;
}


.links{
    display: flex;
    flex-direction: row;

}

 .persolink {
     display: flex;
     flex-direction: row;
     align-items: center;
     width: 100%;
     justify-content: center;
 }


.persolink img{
    padding: 5px;
}

.updatelink a, .orderlink a {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    color: white;

}

.updatelink, .orderlink{
    width: 100%;
}

.orderlink a{
    justify-content: flex-end;
    background: rgb(249,246,249);
    background: linear-gradient(90deg, rgba(249,246,249,0.2) 0%, rgba(25,24,25,0.8) 100%, rgba(241,246,247,1) 100%);
}

.updatelink{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(25,24,25,0.8) 0%, rgba(241,246,247,0.2) 100%);
}







