
/*GENERAL*/
@font-face {
    font-family: pixel;
    src: url('../fonts/FreePixel.ttf');
}


* {
    margin: 0;
    padding: 0;
    background-size: 100%;
    /*border: 1px solid black;*/
    font-family: pixel;
}

body, main, article, a {
    display: flex;
    flex-direction: column;
}


main {
    width: 100%;
    min-height: 80vh;
    flex-grow: 2;
    justify-content: space-around;
    overflow: hidden;
}


article {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: row;
    height: 100%;
}


body {
    min-height: 100vh;
    justify-content: space-between;
}



h1{
    margin-top: 20px;
    text-align: center;
    font-size: 2.4em;
}

h2{
    text-align: center;
    font-size: 2em;
}




/*BUTTON*/

button{
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    margin-bottom: 5px;
    padding: 5px;
    text-decoration: none;

}


/*FORM*/
form{
    max-width:800px/*-- à modifier en fonction de la largeur désirée --*/;
    margin:0 auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    text-align: center;
    color: white;


}

form input, textarea, p {
    color: white;
}
.form, .formlogin{
    display: flex;
    flex-direction: row;
    max-width: 600px;
    padding: 20px;
}

.form input, textarea, .formlogin input, .formupdate input, .formcontact input{
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 10px;


}

.formregister, .formupdate{
    margin-right: 15px;
}

.formupdate {
    align-items: center;
}

.formupdate fieldset {
    height: 100%;
}
#containerPeach {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#divAvatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#avatarHole {

    z-index: 2;

    position: relative;
}

#avatar{

    z-index: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#avatar img {

    clip-path:circle(40%);
}
 .order input{
     color: white;
     border: none;
     background: none;
 }


/*TABLEAUX */

table{

    border-collapse: collapse;
    padding: 5px;
    margin-top: 20px;
}



td{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
}

@media screen and (max-width: 640px) {
    table,
    tbody,
    tr,
    td {
        display: block;
        width: auto;
        border: none;
        padding: 0;

    }
    th{
        display: none;
    }

    tr{
        padding: 10px;
    }

}


a{
    text-decoration: none;
}



/*PROFIL USER*/
.userinfos, .order{
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 4px 5px 5px  black;
    text-align: center;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.5) ;
    color: white;
     font-size: 1.2em;
    margin-top: 20px;

  }                    


.profil, .userinfos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    max-height: 100%;
}

.userinfos {
    height: 70vh;
}
.userinfos p {
    display: flex;
    width: 80%;
    justify-content: space-between;

}

.profiluser{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.profiluser2 {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.order {
    overflow: auto;
    height: 70vh;
    padding: 5px;
    box-shadow: -4px 5px 5px  black;

}

.order div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.links{
    display: flex;
    flex-direction: row;
}

 .persolink {
     display: flex;
     flex-direction: row;
     align-items: center;
     width: 100%;
     justify-content: center;
 }

.joystick a {
    position: relative;



}
.joystick a p {
    transition: 0.5s;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.persolink img{
    padding: 5px;
}

.updatelink a, .orderlink a {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    color: white;
}

.updatelink, .orderlink {
    width: 100%;

    transition: 0.4s;

}

.orderlink a{
    justify-content: flex-end;
    background: rgb(249,246,249);
    border-radius: 0 25px 25px 0;
    background: linear-gradient(90deg, rgba(249,246,249,0.2) 0%, rgba(25,24,25,0.8) 100%, rgba(241,246,247,1) 100%);

}

.updatelink{
    border-radius: 25px 0 0 25px;
    background: rgb(0,0,0);

    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(25,24,25,0.8) 0%, rgba(241,246,247,0.2) 100%);
}

.joystick {
    transition: 0.4s;
}

.updatelink:hover, .orderlink:hover, .joystick:hover {
 filter: drop-shadow(0 0 5px white);

}




.bodyuser {
    background: url("../photo/style/mountain4.jpg") no-repeat;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;

}

.bodyuser ul {
    list-style-type: none;
}


/*ESSAI MESSAGES*/

.mainlogin, .mainregister{
    display: flex;
    flex-direction: column;

}



.text-box-login, .text-box-register {
    border: 3px solid black;
    box-shadow: 0 0 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: none;
    text-align: justify;
    text-align: center;
    width: 80%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    margin-bottom: 15px;
}




.text-box-login a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    transition: 0.5s;
}

.text-box-login a:hover {
    text-shadow: 0 0 10px red;
}


.text-box-login p, .text-box-register p  {
    width: 80%;
    opacity: 1;
    text-align: justify;
    text-shadow: 1px 1px #555555, -1px 1px #555555, 1px -1px #555555, -1px -1px #555555, 1px 1px 5px #555555;
    font-size: 1.2em;
    color: white;
}


.text-box-login p:nth-child(1), .text-box-login p:nth-child(2),
.text-box-register p:nth-child(1), .text-box-register p:nth-child(2)
{
    animation: appear 5s 1 backwards;
}



@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



/*A PROPOS */
.bodyapropros{
background-image: url("../photo/style/1.gif");
max-height: 100%;

}

.apropos{
    display: flex;
    flex-direction: column;
}


.shopKeeperAP{
    background: url("../photo/style/witchback.png") center right no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 2em;
    width: 100%;
}


.bubbleAP {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    padding: 2em;
    border-radius: 20px 20px 0px 20px;
    color: white;
    font-size: 1.4em;
    text-align: center;
}

.bubbleAP table{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    color: white;
    text-align: left;
}

.bubbleAP .heart{
    display: flex;
    flex-direction: row;

}


.bubbleAP table thead, .bubbleAP table tbody, .bubbleAP table tbody tr, .bubbleAP table thead tr {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.bubbleAP table thead, .bubbleAP table tbody {
    flex-direction: column;

}
.bubbleAP table th {
    text-align: center;
}

.bubbleAP table td, .bubbleAP table th {
    text-align: center;
    width: 30%;
}

.text-box-AP{
    border: 3px solid white;
    box-shadow: 0 0 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: none;
    text-align: justify;
    text-align: center;
    width: 80%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
}

.text-box-AP p {
    width: 80%;
    opacity: 1;
    text-align: justify;
    text-shadow: 1px 1px #ffffff, -1px 1px #ffffff, 1px -1px #ffffff, -1px -1px #ffffff, 1px 1px 5px #ffffff;
    font-size: 1.2em;
    animation: none;
    color: black;
}

/*NEWSLETTER*/

.news, .contact {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.formnews, .formcontact{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 15px;
    width: 40%;
    height: 60%;
}

.formcontact textarea, .formnews textarea{
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}

#formSubmitContact, #formSubmitNews {
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    background: rgba(0,0,0,0.5);
    padding: 5px;
    color: white;
}

.shopKeeperNews, .shopKeeperContact {
    background: url("../photo/style/witchback.png") bottom right no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 2em;
    width: 100%;
}


.bubbleNews, .bubbleContact {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    padding: 2em;
    border-radius: 20px 20px 0px 20px;
    color: white;
    font-size: 1.2em;
    text-align: center;

}


/********NEWS***** *******/

.newstime{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;

}

@media screen and (min-width: 600px){
    .newstime{
        width: 80%;
    }
}

.newstime h3{
    text-align: center;

}
.newstime p{
    color: black;
    padding: 20px;
    text-align: justify;
}


/**************MESSAGES ERREURS********/

.errors p {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.error p {
    text-shadow: 2px 2px 2px red;
    text-align: center;
    font-size: 1.4em;
}

@media screen and (max-width: 640px) {
    .profiluser {
    flex-direction: column;
    }

#formUpdate {
    flex-direction: column;
}

    .bubbleAP table {
        font-size: 0.6em;
    }

    }