
/*GENERAL*/
@font-face {
    font-family: pixel;
    src: url('../fonts/FreePixel.ttf');
}

* {
    margin: 0;
    padding: 0;
    background-size: 100%;
    /*border: 1px solid black;*/
    font-family: pixel;
}

body, main, article, a {
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
    background: url("../photo/style/wallhaven.png") center;
    justify-content: space-between;
}

main {
    width: 100%;
    height: 80vh;
    justify-content: space-around;
    overflow: hidden;
}

article {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: row;
    height: 100%;
    text-align: center;
}


.error {
    margin: 10px 0 10px 0;
    text-align: center;
    width: 100%;
    background: rgba(0,0,0,0.8);
    padding: 10px 0 10px 0;
}

.error a {
    color: white;
}
@media screen and (max-width: 640px) {
    article {
        flex-direction: column;
    }
}


h1{
    margin-top: 20px;
    text-align: center;
    font-size: 2.4em;
}

h2{
    text-align: center;
    font-size: 2em;
}




/*BUTTON*/

button{
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    margin-bottom: 5px;
    padding: 5px;
    text-decoration: none;

}


/*FORM*/
form{
    max-width:800px/*-- à modifier en fonction de la largeur désirée --*/;
    margin:0 auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    text-align: center;
    color: white;


}

form input, textarea, p {
    color: white;
}
.form, .formlogin{
    display: flex;
    flex-direction: row;
    max-width: 600px;
    padding: 20px;
}

.form input, textarea, .formlogin input, .formupdate input{
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 10px;


}

.formregister, .formupdate{
    margin-right: 15px;
}

 #avatar{
    margin: 0 auto;
    clip-path:circle(40%);

}


/*TABLEAUX */

table{

    border-collapse: collapse;
    padding: 5px;
    margin-top: 20px;

}



td{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
}

@media screen and (max-width: 640px) {
    table,
    tbody,
    tr,
    td {
        display: block;
        width: auto;
        border: none;
        padding: 0;

    }
    th{
        display: none;
    }

    tr{
        padding: 10px;
    }

}


a{
    text-decoration: none;
}


/*A PROPOS */

.apropos{
    display: flex;
    flex-direction: column;
}



/*PROFIL USER*/
.userinfos, .order{
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 4px 5px 5px  black;
    text-align: center;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.5) ;
    color: white;
     font-size: 1.2em;
    margin-top: 20px;

  }                    
                       

  .order{
         box-shadow: -4px 5px 5px  black;
  }


.profil{
    display: flex;
    flex-direction: column;
}


.profiluser{
    display: flex;
    flex-direction: row;
}


.links{
    display: flex;
    flex-direction: row;
}

 .persolink {
     display: flex;
     flex-direction: row;
     align-items: center;
     width: 100%;
     justify-content: center;
 }


.persolink img{
    padding: 5px;
}

.updatelink a, .orderlink a {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    color: white;
}

.updatelink, .orderlink{
    width: 100%;

    transition: 1s;

}

.orderlink a{
    justify-content: flex-end;
    background: rgb(249,246,249);
    background: linear-gradient(90deg, rgba(249,246,249,0.2) 0%, rgba(25,24,25,0.8) 100%, rgba(241,246,247,1) 100%);

}

.updatelink{
    background: rgb(0,0,0);

    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(25,24,25,0.8) 0%, rgba(241,246,247,0.2) 100%);
}



.updatelink:hover, .orderlink:hover{
    background-color: goldenrod;

}




.bodyuser {
    background-image: url("../photo/style/mountain4.jpg");
    min-height: 100%;

}


/*ESSAI MESSAGES*/

.mainlogin{
    display: flex;
    flex-direction: column;
}



.text-box-login, .text-box-register {
    border: 3px solid black;
    box-shadow: 0 0 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: none;
    text-align: justify;
    text-align: center;
    width: 80%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
}




.text-box-login a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    transition: 0.5s;
}

.text-box-login a:hover {
    text-shadow: 0 0 10px white;
}


.text-box-login p, .text-box-register p  {
    width: 80%;
    opacity: 1;
    text-align: justify;
    text-shadow: 1px 1px #555555, -1px 1px #555555, 1px -1px #555555, -1px -1px #555555, 1px 1px 5px #555555;
    font-size: 1.2em;
    color: white;
}


.text-box-login p:nth-child(1), .text-box-login p:nth-child(2),
.text-box-register p:nth-child(1), .text-box-register p:nth-child(2){
    animation: appear 5s 1 backwards;
}



@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
