/*HEADER*/

nav {
    display: flex;
    width: 100%;
    height: 7vh;
}

nav a {
    text-decoration: none;
}

nav div {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav div:nth-child(1) {
    width: 30%;
    background: url("../../photo/style/hearts.png") no-repeat;
    background-size: contain;
}

#navClosed {
    width: 100%;
    flex-direction: column;
    border: 5px solid pink;
}

#toggle {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    text-decoration: none;
    z-index: 2;
}


#navExpand {
    opacity: 0;
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 3;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

#navClosed:hover #navExpand {
    background: grey;
    opacity: 0.8;
    height: 100%;
}


#navExpand a {
    opacity: 1;
    z-index: 4;
}


nav div:nth-child(3) {
    justify-content: flex-end;
}


/*GENERAL*/

@font-face {
    font-family: pixel;
    src: url('../../fonts/FreePixel.ttf');
}

* {
    margin: 0;
    padding: 0;
    background-size: 100%;
    font-family: pixel;

}

body, main, a {
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
    background: url("../../photo/style/wallhaven.png") center;
    background-attachment: fixed;
    justify-content: space-between;
    background-attachment: fixed;

}

main {
    width: 100%;
    height: 80vh;
    justify-content: space-around;
    overflow: hidden;

}

h1{
    text-align: center;
    font-size: 2.4em;
}


/*PROFIL ADMIN*/

.index a {
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    color: black;
    width: 50%;
    margin: 0 auto;
    border: solid rgba(255, 255, 255, 0) 2px;
    padding: 2px;
}

.index a:hover{
    box-sizing: content-box;
    border: solid black 2px;
    transition-duration: 2s;
}




/*TABLEAUX ADMIN*/

.new a{
    text-align: center;
    text-decoration: none;
}


table{

    border-collapse: collapse;
    padding: 5px;

}



td{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
}

@media screen and (max-width: 640px) {
    table,
    tbody,
    tr,
    td {
        display: block;
        width: auto;
        border: none;
        padding: 0;

    }
    th{
    display: none;
    }

    tr{
        padding: 10px;
    }

}


a{
    text-decoration: none;
}

/*BUTTON*/

.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}