

/*GENERAL*/

@font-face {
    font-family: pixel;
    src: url('../../fonts/FreePixel.ttf');
}

* {
    margin: 0;
    padding: 0;
    background-size: 100%;
    font-family: pixel;

}

body, main, a {
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
    background: url("../../photo/style/wallhaven.png") center;
    background-attachment: fixed;
    justify-content: space-between;
    background-attachment: fixed;

}

main {
    width: 100%;
    min-height: 80vh;
    justify-content: space-around;

}

h1{
    text-align: center;
    font-size: 2.4em;
    margin-top: 10px;
}


/*PROFIL ADMIN*/

.index a {
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    color: black;
    width: 50%;
    margin: 0 auto;
    border: solid rgba(255, 255, 255, 0) 2px;
    padding: 2px;
}

.index a:hover{
    box-sizing: content-box;
    border: solid black 2px;
    transition-duration: 2s;
}




/*TABLEAUX ADMIN*/

.new a{
    text-align: center;
    text-decoration: none;
}


table{

    border-collapse: collapse;
    padding: 5px;
    margin : auto;
    width: 100%;

}



td{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
    margin : auto;
}
tr {
    transition: 0.5s;
}

tbody tr:hover {
    background: rgba(255,255,255,0.5);
}

.td_button form{
   padding-right: 85%;
}



a{
    text-decoration: none;
}

/*BUTTON*/
 table button, table input {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    margin-bottom: 5px;
    padding: 5px;
}

 button{
     background-color: rgba(255, 255, 255, 0.9);
     color: black;
     text-decoration: none;
     display: inline-block;
     margin: 0 auto;
     font-size: 15px;
     font-weight: normal;
     line-height: 1.428571429;
     text-align: center;
     white-space: nowrap;
     vertical-align: middle;
     cursor: pointer;
     border: 1px solid black;
     box-shadow: 1px 1px 1px black;
     margin-bottom: 5px;
     padding: 5px;


 }

 .delete{
     background-color: rgba(255, 255, 255, 0.9);
     color: black;
     text-decoration: none;
     display: inline-block;
     margin: 0 auto;
     font-size: 30px;
     font-weight: normal;
     line-height: 1.428571429;
     text-align: center;
     white-space: nowrap;
     vertical-align: middle;
     cursor: pointer;
     border: 1px solid black;
     box-shadow: 1px 1px 1px black;

     padding: 5px;
 }


 /*FORM*/
form{
    max-width:800px /*-- à modifier en fonction de la largeur désirée --*/;
    margin:0 auto;
    text-align: center;
    overflow-y: auto;
}

legend {

  text-align: center;
}

fieldset{

    padding: 20px;
}

.form{
    display: flex;
    flex-direction: row;
    overflow: auto;

}

.error{
    font-size: 1.2em;
}

.mail{
    overflow: auto;
}

footer p {
   text-align: center;
    padding-top: 5px;
}


@media screen and (max-width: 640px) {
    table,
    tbody,
    tr,
    td {
        display: block;
        width: auto;
        border: none;
        padding: 0;

    }
    th{
        display: none;
    }

    tr{
        padding: 10px;
    }

}